{
  "extends": "loopback",
  "rules": {
    "quotes": ["error", "double"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always", // For anonymous functions (e.g., callback functions)
        "named": "never" // For named functions (e.g., regular functions)
      }
    ]
  }
}
